/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

$color1: #dcdcdd; //rgba(220, 220, 221, 100) light grey
$color2: #c5c3c6; //rgba(197, 195, 198, 100) medium grey
$color3: #46494c; //rgba(70, 73, 76, 100) dark grey
$color4: #4c5c68; //rgba(76, 92, 104, 100) dark blue
$color5: #1985a1; //rgba(25, 133, 161, 100) accent blue
